<!doctype html>
<head>
    {{! document settings }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{! page meta }}
    <title>{{meta_title}}</title>

    {{! feed, styles, etc. }}
    <link rel="alternate" title="RSS" href="{{@blog.url}}/rss/" type="application/rss+xml">
    <link rel="stylesheet" href="{{asset "css/main.css"}}" type="text/css">
    {{! remove this if you don't want source code syntax highlighting }}
    <link rel="stylesheet" href="{{asset "css/prism.css"}}" type="text/css">

    {{! ghost stuff –don't remove this! }}
    {{ghost_head}}
</head>

<body lang="en">
    <header class="main-header">
        <h1><a href="{{@blog.url}}" title="Index">{{@blog.title}}</a></h1>
        {{navigation}}
    </header>

    <main>
    {{{body}}}
    </main>

    <footer class="main-footer">
        <p><a href="{{@blog.url}}/rss/" title="Subscribe to RSS updates">
            <svg width="40" height="40"><use href="{{asset 'images/rss.svg'}}#icon"/></svg>
        </a></p>
        <p class="copyright">©
            {{#get "posts" limit="1" order="published_at asc"}}{{#foreach posts}}{{date format="YYYY"}}{{/foreach}}{{/get}}
            - {{date format="YYYY"}} {{@blog.title}}.
            All rights reserved.</p>
    </footer>

    {{! ghost stuff –don't remove this! }}
    {{ghost_foot}}

    {{! zepto as a lighter library than jquery }}
    <script src="{{asset "js/zepto.min.js"}}"></script>
    {{! source code syntax highlighting with prism - remove if you don't need it }}
    <script src="{{asset "js/prism.js"}}"></script>
    {{! video responsive resizing}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

    <script src="{{asset "js/index.js"}}"></script>
</body>
