{{!< default}}

{{#post}}
<article class="{{post_class}} archive">
    <header>
        <h1 class="post-title"><a href="{{url}}" title="Permalink">{{title}}</a></h1>
    </header>
    {{content}}

    <h2>Featured articles</h2>

    {{#get "posts" fields="title,url" filter="featured:true" limit="all"}}
    <ul>
    {{#foreach posts}}
        <li><a href="{{url}}">{{title}}</a></li>
    {{/foreach}}
    </ul>
    {{/get}}

    <h2>Full article list</h2>
    <p>Sorted by publication date, newer first.</p>

    {{#get "posts" fields="title,url" limit="all"}}
    <ul>
    {{#foreach posts}}
        <li><a href="{{url}}">{{title}}</a></li>
    {{/foreach}}
    </ul>
    {{/get}}
    </article>
{{/post}}
