{{!< default}}

{{#post}}
<article class="{{post_class}}">
    <header>
        <h1 class="post-title"><a href="{{url}}" title="Permalink">{{title}}</a></h1>
        {{^is "page"}}<p class="post-timestamp"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></p>{{/is}}
    </header>
    {{content}}
    <footer class="post-footer">
        <p>
            {{tags prefix="On "}}
        </p>
    </footer>
</article>
{{/post}}
